.heading {
  padding: 20px;
  margin: 5px;
  background-color: #225378;
  color: #fff;
  border-radius: 10px;

  position: relative;
}

.content {
  margin-top: 20px;
}

.popup-btn {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  display: none;

  padding: 5px 10px;
  border-radius: 5px;
  border: 5px solid #1695A3;
  background: #225378;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.popup-btn:hover {
  background-color: #1695A3;
  color: white;
}

.heading:hover .popup-btn {
  display: block;
}
