<header>
  <nav>
    <div class="left-links">
      <a href="#" style="font-weight: bold;">Senate</a>
      <a routerLink="/development">Develop</a>
      <a href="#">Play</a>
      <a href="#">Forum</a>
    </div>
    <div class="right-links">
      <a href="#">Login</a>
      <ul class="menu">
        <li><a href="#">Account</a>
          <ul>
            <li>
              <a href="#" class="link-with-badge">
                Watchlist
                <span class="badge">22</span>
              </a>
            </li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
